table, td, th
{
    border:1px solid red;
}
td, th
{
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
table
{
    background-color: aliceblue;
    border-spacing: 5px;
}
div
{
    background-color: aqua;
    width: 260px;
    height:200px;
    padding: 20px;
}
.ang
{
    color: white;
    background-color: green;
}
.juano
{
    color: white;
    background-color: green;
}
.correr
{
    color:yellow;
    background-color: black;
}